* {
    letter-spacing:2px;
    margin: 0;
    padding: 0;
}

button{
    margin-top: 5px;
    margin-bottom: 5px;
    width:100px;
    height:30px;
    font-size:20px;
    font-weight: 800;
    border-color: #86a3a7;
    background-color:#52797e;
    color: #c0c4b6;
    text-shadow: 2px 1px 10px rgb(61, 173, 177);
    padding-bottom:30px;
}
.header h1{
    font-size: 70px;
    font-weight: 700;
    text-align: center;
    color: white;
    text-shadow: 2px 5px 50px rgba(212, 42, 42,1);
    padding: 55px;
    margin:0;
}
.header h4{
    letter-spacing:3px;
    word-spacing: 3px;
    color: rgb(255, 255, 255);
    font-size: 25;
    font-family: 'Pacifico';
      margin:0;
      padding-bottom: 40px;
      text-align: center;
}
header{
    background-color: #96b348;
}

.disheslist {
    font-family: 'Playfair Display', serif;
    color: #96b348;
    -webkit-text-stroke: 0.3px rgb(255, 255, 255); /* border color & width */
    font-weight: 900;
    text-align: center;
    font-size: 35px;
    background-color: grey;
    margin: 0;
    }
h2{
     -webkit-text-stroke: 0.1px rgb(255, 255, 255);
    font-family: "Roboto Slab", serif;
    margin-top: 10px;
    display:inline;
    font-size:20px;
    color: #b6f800;
    text-decoration: underline;
    text-decoration-color: white;
    text-underline-offset: 10px;
    text-shadow: 2px 1px 5px rgba(255, 0, 0, 0.5)
}
img[src$="jpeg"]{
     margin-right: 0px;
    margin-top: 15px;
    display:flex;
    align-items: center;
    gap:20px;
    border: #423b3b 5px solid;
 
}
section
{
    align-items: center;
    display: inline-block;
    text-align: center ;
    border:4px solid #6c7f81;
    border-radius: 20px;
     background-color: grey;
      margin-top: 20px;
      margin-right:50px;
      margin-bottom: 20px;
}
.product-card li{

    font-family: 'Playfair Display', serif;
    font-size:20px;
    font-weight: 700;
    margin-left: 24px;
    text-align: justify;
    color: #b9f80a;
}
.products {
    text-align: center;
}
header h4, h1, main, p, h2,h4 {
    margin-top: 0; /* remove the default top margin */
}
div[class="products"]{
    margin: 0;
background-color: rgb(53, 52, 52);
}
.titles
{
    font-family: 'Lobster', cursive;
    color: white;
    display:block;
 text-align: justify;
   padding: 20px;
  margin-left:30px;
  text-decoration: underline;
  text-decoration-color: #96b348;
  text-underline-offset: 10px;
}
footer{
    text-align: center;
    border: white 2px solid;
}
a[href="instagram.com/soban.__94"] img{
    border: 0;
    width:40px;
    display: inline;
    height:40px;
    margin-right:10px;
}
a[href="gmail.com"] img{
    display: inline;
    width:40px;
    height:40px;
}





/* TEST  font-family: 'Roboto', sans-serif;  font-family: 'Playfair Display', serif;*/





