html, body {
    height: 100%;
    margin: 0;
}

body {

    background-image: url("/practice/multimedia/bg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

button{
    width:100px;
    height:30px;
    font-size:20px;
    font-weight: 800;
    border-color: #86a3a7;
    background-color:#52797e;
    color: #96b348;
    text-shadow: 2px 1px 10px rgb(61, 173, 177);
    padding-bottom:15px;
}
.header{
    font-size: 4em;
    font-weight: 700;
    text-align: center;
    color: #96b348;
    text-shadow: 2px 5px 50px rgba(212, 42, 42,1);
}
.disheslist {
    display: table;
    text-align: center;
    font-size: 35px;
    background-color: #aaadad;
    color: #2cb5c7;
        text-shadow: 2px 2px 20px rgba(243, 243, 243, 1);
        border: 10px groove #5f168a;
        margin:0 auto;
    }
h2{
    display:inline;
    font-size:25px;
    color:hsla(0, 77%, 47%, 0.8);
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.9);
}
img[src$="jpeg"]{
    display:flex;
    align-items: center;
    gap:20px;
    border: #a53a3a 5px solid;
 
}
section
{
    align-items: center;
    display: inline-block;
    text-align: center ;
    border:4px solid #6c7f81;
      background-color: #773232;
      margin:10px;
}
.product-card li{
    font-size:20px;
    font-weight: 700;
    text-align: justify;
    color:hsla(177, 61%, 51%, 0.8);
}
.products {
    text-align: center;
}


/* TEST*/




